td {
    width: 35px;
    height: 35px;
    border-left: 4px solid white;
    border-top: 4px solid white;        
}

table td:first-child {
    border-left: 0;
}

table tr:first-child td {
    border-top: 0;
}

.light-grey {
    background-color: #cccccc;
}

.medium-light-grey {
    background-color: #999;
}

.medium-dark-grey {
    background-color: #666;
}

.dark-grey {
    background-color: #333;
}