.card {
    float: left;
    width: 656px;
    height: 656px;
    margin: 1em;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
  
.tablered {
    background: #fff;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size:50px 50px;
}

td {
    width: 35px;
    height: 35px;
    border-left: 2px solid white;
    border-top: 2px solid white;        
}

table td:first-child {
    border-left: 0;
}

table tr:first-child td {
    border-top: 0;
}

.dark-orange {
    background-color: #ff7100;
}

.light-orange {
    background-color: #ffb173;
}

.brown {
    background-color: #a64a00;
}


    




